            <section class="section projects-section">
                <h2 class="section-title"><i class="fa {{ .Site.Params.projects.icon }}"></i>{{ i18n "projects" }}</h2>

				{{ range .Site.Params.projects.list }}
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">{{ .position | markdownify }}</h3>
                            <div class="time">{{ .dates }}</div>
                        </div><!--//upper-row-->
                        <div class="company">{{ .company }}</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>{{ with .details }}{{ . | markdownify }}{{ end }}</p>
                    </div><!--//details-->
                </div><!--//item-->
				{{ end }}

            </section><!--//section-->
